<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>free recall admin</title>


<% 
/***************************************************************

Style

***************************************************************/
%>


<style>
body {
  color: #404040;
  font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ul {
    margin-top: 0;
}

.doubleborder {
  border-style: double;
}

.halfwidth {
  width: 45%;
}

.fullwidth {
  width: 100%;
}

.center {
  text-align: center
}

.sandbox {
  background-color: #dd6e00;
  color: white
}

.hit_Reviewable {
  background-color: #ddddee;
  color: blue
}


.production {
  background-color: #006edd;
  color: white
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.ident1 {
	margin-left: 1cm;
}

</style>
 


<% 
/***************************************************************

scripts

***************************************************************/
%>

<script type="text/javascript">
function serverResponse( addr, data, func ){
  var xhr = new XMLHttpRequest();
  xhr.open("POST", addr, true);

  //Send the proper header information along with the request
  //xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhr.setRequestHeader("Content-type", "application/json");

  xhr.onreadystatechange = function() {//Call a function when the state changes.
    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
        // Request finished. Do processing here.
        func( xhr );
    }
  }
  xhr.send( JSON.stringify( data ) ); 
}

function getFillHTML( addr, data, el ){
  serverResponse( addr, data, function (xhr){
    el.innerHTML = xhr.responseText;
} )
}

function submitWords(){
  var el= document.getElementById( "wordList" );
  serverResponse( '/admin/freeRecall/saveWords', {words:el.value}, function( xhr )
  {
	  alert(xhr.responseText);
  })
}

function reviewHIT( HITid ){
    var frm= document.getElementById("mainDataWin");
	getFillHTML( '/admin/freeRecall/partial/HITreview', {HITid:HITid}, frm );
}

function changeOperationMode(evt, mode) {
    var i, tabcontent, tablinks;
   /* tabcontent = document.getElementsById("OperationTabButton");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }*/
    tablinks = document.getElementsByClassName("OperationTabButton");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    evt.currentTarget.className += " active";
    var frm= document.getElementById("mainDataWin");
    var data= {};
    switch( mode ){
	  case 'mode': // change operation mode - sandbox/real mode
	  
	  break;
	  case 'updateFromMturk':
	    //getFillHTML( '/admin/freeRecall/partial/updateFromMturk', data, frm );
	  break;
	  case 'workers': // get list of workers
	    getFillHTML( '/admin/freeRecall/partial/workers', data, frm );
	  break;
	  case 'HITs': // get workers HITs
	    getFillHTML( '/admin/freeRecall/partial/HITs', data, frm );
	  break
	  case 'submitHIT': // get workers HITs
	    getFillHTML( '/admin/freeRecall/partial/submitHIT', data, frm );
	  break
	  case 'ReviewableHITs': // get workers HITs
	    getFillHTML( '/admin/freeRecall/partial/ReviewableHITs', data, frm );
	  break
	}
	/*
    if( mode=='production'){
      frm= document.getElementsByClassName("sandbox");
      for( k= frm.length-1; k>=0; k-- ){
        frm[k].classList.add( mode );
        frm[k].classList.remove( "sandbox" );
      }
    } else{
      frm= document.getElementsByClassName("production");
      for( k= frm.length-1; k>=0; k-- ){
        frm[k].classList.add( mode );
        frm[k].classList.remove( "production" );
      }
    }

    frm= document.getElementById("MturkConnectionFormContent");
    data= { "mode": mode };
    getFillHTML( 'admin/partial/MturkConnectionFormContent', data, frm );
    */
}

function WorkerProcessor(){
}
var workers= new WorkerProcessor(); 

function submitHIT( event, mode ){
  var frm= document.getElementById("mainDataWin");
  var qPane= document.getElementById("qualificationHITpane");
  var rPane= document.getElementById("recallHIT");
  switch(mode){
	case 'qualificationHIT':
		rPane.style.display='none';
		qPane.style.display='block';
	break;
	case 'recallHIT':
		qPane.style.display='none';
		rPane.style.display='block';
	break;
  }
  //getFillHTML( '/admin/freeRecall/partial/approveHIT', {ASSid:ASSid}, frm );
}


function approveHIT( ASSid ){
    var frm= document.getElementById("mainDataWin");
  getFillHTML( '/admin/freeRecall/partial/approveHIT', {ASSid:ASSid}, frm );
}

function rejectHIT( HITid ){
    var frm= document.getElementById("mainDataWin");
  getFillHTML( '/admin/freeRecall/partial/rejectHIT', {ASSid:ASSid}, frm );  
}

function submitNewQualificationHIT(){
  var Title= document.getElementById("HIT_Title").value,
    Description= document.getElementById("HIT_Description").value,
	MaxAssignments= document.getElementById("HIT_MaxAssigmenents").value,
	LifetimeInSeconds= document.getElementById("HIT_Lifetime").value,
	AssignmentDurationInSeconds= document.getElementById("HIT_Duration").value,
	Reward= document.getElementById("HIT_Reward").value,
	QuestionURL= document.getElementById("HIT_URL").value;
	
	var data= { Title:Title, Description:Description, MaxAssignments:MaxAssignments, LifetimeInSeconds:LifetimeInSeconds, 
		 AssignmentDurationInSeconds:AssignmentDurationInSeconds, Reward: Reward, Question:QuestionURL };
	var frm= document.getElementById("mainDataWin");

  getFillHTML( '/admin/freeRecall/partial/submitQualificationHIT', data, frm );  
	
}

function submitNewQualificationHIT(){
  var Title= document.getElementById("HIT_Title").value,
    Description= document.getElementById("HIT_Description").value,
	MaxAssignments= document.getElementById("HIT_MaxAssigmenents").value,
	LifetimeInSeconds= document.getElementById("HIT_Lifetime").value,
	AssignmentDurationInSeconds= document.getElementById("HIT_Duration").value,
	Reward= document.getElementById("HIT_Reward").value,
	QuestionURL= document.getElementById("HIT_URL").value;
	
	var data= { Title:Title, Description:Description, MaxAssignments:MaxAssignments, LifetimeInSeconds:LifetimeInSeconds, 
		 AssignmentDurationInSeconds:AssignmentDurationInSeconds, Reward: Reward, Question:QuestionURL };
	var frm= document.getElementById("mainDataWin");

  getFillHTML( '/admin/freeRecall/partial/submitExpHIT', data, frm );  
	
}


</script>


</head>
<body>
<h1>Welcome to Free Recall admin area!</h1>

<table class="doubleborder fullwidth"><tr><td>
<%# This is control buttons ribon %>
  <button class="OperationTabButton" onclick="changeOperationMode(event, 'mode')">SandBox</button>
  <button class="OperationTabButton" onclick="changeOperationMode(event, 'submitHIT')">Submit HIT</button>
<%#  <button class="OperationTabButton" onclick="changeOperationMode(event, 'workers')">Workers</button> %>
<%#  <button class="OperationTabButton" onclick="changeOperationMode(event, 'HITs')">HITs</button> %>
  <button class="OperationTabButton" onclick="changeOperationMode(event, 'ReviewableHITs')">reviewable HITs</button>
  <button class="OperationTabButton" onclick="changeOperationMode(event, 'HIT Review')">HIT Review</button>
<div class="doubleborder fullwidth" id="mainDataWin">
</div>
</td></tr></table>


<div style="display:table">
<div style="display:table-cell" class="doubleborder halfwidth" onClick="document.getElementById('wordList').style.display='none';">
 <div class="center">words:</div> 
   <textarea rows="4" cols="50" id="wordList">
word1
word2
</textarea>
 <button class="OperationTabButton" onclick="submitWords()">submit words</button>
 </div>

</div>
</body>
</html>
