<p> updated from mturk: </p>

<p> Workers </p>
<%= JSON.stringify( workers ) %>
<hr>
<p> assignements </p>
<%= JSON.stringify( assignements ) %>
<hr>
<p> Hits </p>
<%= JSON.stringify( hits ) %>

<!-- 
<table style="color:blue" border="1">
	<tr>
		<th>WorkerId</th>
		<th>Worker Qualification</th>
		<th>Experiments</th>
	</tr>
  <% {var k; for(k=0;k< wList.length; k++ ){ %>
	 <tr>
	<td onclick="workers.loadInfo('<%= wList[k]['WorkerId'] %>')"> <%= wList[k]['WorkerId'] %> 
	</td>
	<td><%= wList[k]['IntegerValue'] %>	</td>
	<td> ClickHere </td>
	</tr>
  <% }} %>
</table>

-->
